@import "/styles/variables";
@import "/styles/mixins";

// Navbar Container
.navbarContainer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 30;
    border-bottom: 1px solid $n-6;
    transition: background-color 0.3s ease;

    &.open {
        background-color: $n-8; 
    }

    &.closed {
        background-color: rgba($n-8, 0.9); 
        backdrop-filter: blur(5px); 
    }
}

// Header
.header {
    @include flex-center; 
    padding: 0.10rem 1.25rem;

    @include respond-to(lg) {
        padding: 0.25rem 1.75rem; 
    }

    @include respond-to(xl) {
        padding: 0.15rem 1.25rem; 
    }

    .logoContainer {
        display: relative;
        width: 100%;

        .logoLink {
            display: inline-flex; 
            gap: 0.5rem;
            align-items: center;
            color: white;
            font-family: $font-code;
            text-decoration: none;
            
            .logoText {
                font-size: 1.8rem;
                font-weight: 600;
                color: white;
            }
        }
    }
}

// Navigation
.navOpen{
    position: static;
    top: 5rem;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    z-index: 2;
    transition: display 0.3s ease;

    @include respond-to(lg) {
        flex-direction: row; 
        background-color: transparent; 
        margin: auto; 
    }

    &.navClosed {
        display: none; 

        @include respond-to(lg) {
            display: flex; 
        }
    }
}

// Nav Items
.navItems {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: row; 
    align-items: center;
    margin: auto;

    @include respond-to(lg) {
        flex-direction: row; 
    }
}

.navItem {
    display: none;
    position: relative;
    font-family: $font-code; 
    font-size: 1.3rem;
    line-height: 2rem;
    text-transform: uppercase;
    color: $n-1; 
    padding: 0.5rem 1.5rem;
    transition: color 0.3s ease;
    text-decoration: none;

    @media (min-width: 1024px) { 
        display: flex;
    }

    &:hover {
        color: $color-1; 
    }

    &.active {
        z-index: 2; 
    }

    &.inactive {
        color: $n-5;
        &:hover {
            color: $color-1; 
        }
    }

    @include respond-to(md) {
        font-size: 1rem; 
        font-weight: 600; 
    }

    @include respond-to(lg) {
        padding: 0 0.5rem; 
        font-size: 0.800rem; 
        color: rgba($n-1, 0.5); 

        &:hover {
            color: $n-8; 
        }
    }

    @include respond-to(xl) {
        padding: 0 3rem; 
    }

    &.onlyMobile {
        @include respond-to(lg) {
            display: flex; 
        }
    }
}

