:root {
    background-color: $n-1;
    color: $n-8;
    --text-white: $color-primary;
  
}

.dark {
    background-color: $n-8;
    color: $n-1;
    --text-color: $n-8;
}

html, body {
    transition: background-color 0.3s ease, color 0.3s ease;
    margin: 0;
    padding: 0;
}

// Container
.container {
    max-width: 77.5rem;
    margin: 0 auto;
    padding: 0 1.25rem;

    @media (min-width: 768px) {
        padding: 0 2.5rem;
    }

    @media (min-width: 1024px) {
        padding: 0 3.75rem;
    }

    @media (min-width: 1280px) {
        max-width: 87.5rem;
    }
}

// Headings
.h1 {
    
    @media (min-width: 768px) {
        font-size: 2.75rem;
    }

    @media (min-width: 1024px) {
        font-size: 3.25rem;
        
    }

    @media (min-width: 1280px) {
        font-size: 3.75rem;
        
    }
}

.h2 {
    font-size: 1.75rem;
    line-height: 2.5rem;

    @media (min-width: 768px) {
        font-size: 2rem;
        line-height: 2.5rem;
    }

    @media (min-width: 1024px) {
        font-size: 2.5rem;
        line-height: 3.5rem;
    }

    @media (min-width: 1280px) {
        font-size: 3rem;
        line-height: 1.25;
    }
}

.h3 {
    font-size: 2rem;
    line-height: normal;

    @media (min-width: 768px) {
        font-size: 2.5rem;
    }
}

.h4 {
    font-size: 2rem;
    line-height: normal;
}

.h5 {
    font-size: 1.5rem;
    line-height: normal;
}

.h6 {
    font-size: 1.125rem;
    font-weight: 600;
    line-height: 2rem;
}

// Body Text
.body-1 {
    font-size: 0.875rem;
    line-height: 1.5rem;

    @media (min-width: 768px) {
        font-size: 1rem;
        line-height: 1.75rem;
    }

    @media (min-width: 1024px) {
        font-size: 1.25rem;
        line-height: 2rem;
    }
}

.body-2 {
    font-size: 0.875rem;
    line-height: 1.5rem;
    font-weight: 300;

    @media (min-width: 768px) {
        font-size: 1rem;
    }
}

// Additional Classes
.caption {
    font-size: 0.875rem;
}

.tagline {
    font-family: $font-grotesk;
    font-weight: 300;
    font-size: 0.75rem;
    text-transform: uppercase;
    
}

.quote {
    font-family: $font-code;
    font-size: 1.125rem;
    line-height: normal;
}

.custom-button {
    font-family: $font-code;
    font-size: 0.75rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
}

// Utility Classes
.tap-highlight-color {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}