@import url("https://fonts.googleapis.com/css2?family=Sora:wght@300;400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300&display=swap");

$font-sans: "Sora", sans-serif;
$font-code: "Source Code Pro", monospace;
$font-grotesk: "Space Grotesk", sans-serif;

$color-primary: #fff;
$color-secondary: #000;

// Custom Colors
$color-1: #AC6AFF;
$color-2: #FFC876;
$color-3: #FF776F;
$color-4: #7ADB78;
$color-5: #858DFF;
$color-6: #FF98E2;

$stroke-1: #26242C;

$n-1: #FFFFFF;
$n-2: #CAC6DD;
$n-3: #ADA8C3;
$n-4: #f0f0f0;
$n-5: #3F3A52;
$n-6: #252134;
$n-7: #15131D;
$n-8: #000000;
$n-9: #474060;
$n-10: #43435C;
$n-11: #1B1B2E;
$n-12: #2E2A41;
$n-13: #6C7275;

// Style Variables
$container-max-width: 77.5rem;
$container-xl-max-width: 87.5rem;
$container-padding: 1.25rem; 
$container-md-padding: 2.5rem; 
$container-lg-padding: 3.75rem; 

// Typography 
$heading-1-size: 2.5rem;
$heading-1-line-height: 3.25rem;
$heading-2-size: 1.75rem;
$heading-2-line-height: 2.5rem;
$body-1-size: 0.875rem;
$body-1-line-height: 1.5rem;